! Colour scheme
#include "/home/travis/.Xcolors/solarized"

! X settings
Xcursor.theme: Vanilla-DMZ

! Font settings
! Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! URxvt Options
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font: xft:inconsolata:size=10:antialias=true
URxvt*depth: 32
URxvt*fading: 20
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
URxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 10000
URxvt*termName: rxvt-unicode-256color
URxvt.perl-ext-common: default,clipboard-osc,remote-clipboard,vtwheel,matcher
URxvt.urlLauncher: google-chrome
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
URxvt.matcher.button: 1
